<template>
  <div class="links">
    <a href="https://gitlab.com/WhiteR4bbitt"
       target="_blank">GitLab</a>
    <a href="https://gitlab.com/Amalga"
       target="_blank">
      GitLab Group
    </a>
    <a href="https://gitlab.com/Amalga/Locust/horde"
       target="_blank">
      Project Locust
    </a>
    <a href="https://github.com/WhiteR4bbitt"
       target="_blank">
      GitHub
    </a>
    <a href="https://www.linkedin.com/in/jonathonpawlick/"
       target="_blank">
      LinkedIn
    </a>
    <a href="https://gitlab.com/WhiteR4bbitt/tailwindui-application/"
       target="_blank">
      This Pages Repo
    </a>
  </div>
</template>

<style lang="scss">
.links {
  @apply flex flex-wrap items-center;

  a {
    @apply flex-1 bg-primary py-2 px-4 rounded m-2 text-white text-center;

    &:hover {
      @apply bg-primary-dark text-white;
    }
  }
}
</style>
