<template>
  <div>
    <Header />
    <nuxt />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Header from '~/components/Header.vue'

export default Vue.extend({
  components: {
    Header
  }
})
</script>


<style lang="scss">
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #161616;
  color: #f1f1f1;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-4xl mb-4;
}

a:hover {
  @apply cursor-pointer;
}

p {
  @apply mb-3 px-4;

  a {
    @apply text-primary;

    &:hover {
      @apply text-primary-light;
    }
  }
}

.alert {
  @apply block bg-primary bg-opacity-100 border-2 border-primary-dark rounded w-3/4 mx-auto my-6 text-white;

  strong {
    @apply inline-block bg-secondary-lighter px-4 py-3 h-full mr-4 text-white;

    &:hover {
      @apply bg-secondary;
    }
  }

  &:hover {
    @apply bg-opacity-25;
  }
}
</style>
