<template>
  <div class="container">
    <div>
      <Header />

      <h2>
        Still Here?
      </h2>

      <p>
        Well, maybe you came back, this page was added after to be honest. I figured if you were reading this and giving it a chance why not type some stuff out, maybe give more perspective or detail about projects and maybe myself. Besides being a father of 3 I am happily married and like to play video games, but have tried to put more time into Development. I am currently finishing up a Shopify site for a client, which is also where some time has gone because with COVID I took a pay cut, which really sucked because I was in talks of getting more $$$ because for all the things I am expected I was not being paid enough already...
      </p>

      <p>
        Whenever I get time to work on my personal projects or get some client work (usually just word of mouth right now) I get excited to work on that stuff. I started out in PHP because it was something I had slightly been learning in my teens, it had the "funnest" projects as well at <a href="https://www.nait.ca/"
           target="_blank">NAIT</a>. This kind of panned out because soon after I started at Strathcom they were moving to WordPress, so I finally got to use some PHP. I started working in WordPress and realized it wasn't really PHP I cared about, but just building things. WordPress interested me as well, but after working with it I don't care much for how much it has going on (bloating). There are much better CMS' out there, but WordPress is well documented and has a great community (that I came across) so I don't think its bad, just not my cup of tea.
      </p>
      <p>
        While working here I have also gotten to use JS, but its been light stuff and me teaching people how to stop using jQuery. (Which I actually left NAIT knowing more of because VanillaJS seemed like a joke, I went full circle on that... Wish I had seen the light sooner I could have been dabbling in it and making cooler things while learning the CORE behind the magic(jQuery))...
      </p>
      <p>
        Someone who I worked with briefly introduced me to <strong>NuxtJS</strong>, right after I finished making a dashboard for our Support team in <strong>AngularJS</strong>. I had been given the chance to choose anything and I was between <strong>React</strong> and <strong>AngularJS</strong> because of their online presence. I think at the time I was biased towards Google and had it ingrained that <strong>React</strong> was bad? Idk, but it was silly and I loved trying out <strong>AngularJS</strong>, but I even more enjoyed <strong>NuxtJS</strong>. Reading through the <strong>Vue</strong> website, this just felt right, the <em>JS Framework</em> I could build with and upon, but with the power that <strong>NuxtJS</strong> adds (SSR for example) I have been sticking with it.
      </p>

      <h2>More?</h2>
      <p>
        Alongside my passion for leveling up my JS I have also been interested in getting into Blockchain technology. I mentioned before about the project and Blockchain (index page), but what really made me inspired was seeing how much was being built on Ethereum and seeing projects like <a href="https://www.thetatoken.org/"
           target="_blank">Theta Network</a>, <a href="https://lbry.com/"
           target="_blank">LBRY</a>, and some more (these are 2 I have been keeping an eye on more). I believe with the digital age taking storm and COVID proving digital is even more valuable to us in this day/age, something like this can prove useful. Now that can be seen as mixed and I am not saying that Crypto is the answer, but the technology it uses, Smart Contracts, decentralization, etc... This is a topic of its own
      </p>

      <p>
        If you are still with me, you can see I can probably ramble and go on, but its not all bad? I actually spit ball with many people and think I am a good person to bounce things off with. The only problem with those comes time (and usually money)... Or someone else does it first, so it becomes a thing of "can I do it better?" and if so "is it worth it?".
      </p>

      <p>Some last minute ramblings and things I should maybe not say?</p>

      <ul class="list-disc list-inside">
        <li>I have 2 big dogs</li>
        <li>I have 1 small bunny</li>
        <li>My 3 kids are: Girl, Boy, Girl</li>
        <li>Sometimes my perfectionsm gets the better of me...</li>
        <li class="ml-6">I spend more time than I probably should trying to fix or fine tune things, but maybe I just want things to be as good as I see them?</li>
        <li>I have been smoking WEED a long time ...</li>
          <li class="ml-6">I don't let it effect my work</li>
        <li>I like Energy Drinks too much</li>
        <li>I am not a morning person (quite the opposite is true)</li>
        <li>I was born in 1989</li>
        <li>I love donairs</li>
      </ul>

      <n-link class="alert"
              to="/">
        <strong>The End?</strong> Click me to go back to the start!
      </n-link>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend()
</script>
