<template>
  <div class="container">
    <h2>Hi.</h2>

    <p>
      I just seen the application for this today (May 27), got a chance to try and throw something together (this basic NUXT App (9 PM EST)) while making some projects in <strong><a href="https://gitlab.com/WhiteR4bbitt"
           target="_blank">My GitLab</a></strong> available.
    </p>

    <p>
      Anyways a quick BIO:
    </p>

    <p>
      I am a father of 3 (They are <strong>2</strong> and soon to be <strong>4</strong> and <strong>5</strong>). You can see most of my projects listed above and where I currently work (Linked In).
    </p>
    <p>
      I have a passion for JS which I thought was weird considering I felt I was being mold to dislike it. However I like to use it whenever I can (and where it applies), but have also started leaning more towards TypeScript because I like how it supersets JS :)
    </p>
    <p>
      I have been working on PHP/WordPress at my current job, but have been working with Nuxt, NodeJS, Express and a few others in this area, mainly with my <strong>Project Locust</strong> linked above. (Which I kind of put on hold with COVID and TIME, but also because I have been in contact with Microsoft trying to get access to their Xbox API so I can properly integrate what we wanted to begin with, its a project similar to how <a href="https://www.trueachievements.com/"
         target="_blank">TrueAchievements</a> syncs users games/achievements) The long goal for this is to actually implement it onto a Blockchain (I don't know if I really want to start my own, why reinvent the wheel ...), but basically have on site rewards when people earn stuff in game. I have seen a few others similar such as <a href="https://www.exophase.com/"
         target="_blank">Exophase</a> and <a href="https://www.exophase.com/"
         target="_blank">Von Republic (Von Coin prior)</a> which actually does some rewarding using True Achievements (kind of similar to the long game we were planning, but without the 3rd party reliance).
    </p>

    <p>
      P.S. I actually was thinking about using Tailwind CSS in Project Locust, but haven't landed on CSS yet, but after using it here briefly I really like it :)
    </p>

    <n-link class="alert" to="about-me">
      <strong>Still Here?!</strong> Click me if you want to read a bunch...
    </n-link>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Header from '~/components/Header.vue'

export default Vue.extend({
  components: {
    Header
  }
})
</script>

<style lang="scss">
.container {
  @apply mx-auto;
}
</style>
